html {
}
body {
}
a, a:link, a:visited {
}
a:hover {	
}
iframe {
}
ul {
}
li {
}
p {
}
form {
}
textarea, input {
}
input[type="submit"] {
}
input[type="submit"]:hover {
}
label {
}
h1, h2, h3, h4 {
}
h1 {
}
h2 {
}
h3 {
}
h4 {
}
h6 {
}
.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.cleartop {
	padding-top: 250px;
}
.cleartop > div {
}
.clear {
	clear: both;
}
.right {
	float: right;
}
.alignright {
	position: relative;
	right: 0px;
}
.anchor {
}
.anchor:after{
}
.anchor:hover {
}
.anchor:hover:after {
}
#nav {
}
#nav .hamburger,
#nav .mobile_super {
}
#nav ul {
}
#nav li {
}
#nav li:hover {
}
#nav li a {
}
#nav a, #nav a:link, #nav a:visited {
}
#nav a:hover {
}

#nav .social,
#footer .social,
#nav .social:hover,
#footer .social:hover,
.sprite, #nav .sprite:hover {
}
#nav .social,
#footer .social,
#nav .social:hover,
#footer .social:hover {
}
#nav .linkedin,
#nav .linkedin:hover {
}
#footer .linkedin,
#footer .linkedin:hover {
}
#nav .twitter,
#nav .twitter:hover {
}
#footer .twitter,
#footer .twitter:hover {
}
#nav .contact,
#nav .contact:hover {
}
#nav .bitbucket,
#nav .bitbucket:hover {
}
#footer .bitbucket,
#footer .bitbucket:hover {
}
#footer .wordpress,
#footer .wordpress:hover {
}
#footer .php,
#footer .php:hover {
}
#footer .youtube,
#footer .youtube:hover {
}
#footer .facebook,
#footer .facebook:hover {
}
#footer .nodejs,
#footer .nodejs:hover {
}
#footer .chrome,
#footer .chrome:hover {
}
.footer_title {
}
.content span {
}
.half {
}
.content {
}
.content span {
}
#sidebar {
}
#sidebar li {
}
#footer {
}
#footer .wrapper {
}
#footer > div {
}
#footer .sociallinks {
}
#footer .icons li {
}
#footer a {
}
#footer a:hover {
}
#footer .icons .social {
}
#footer .icons .social:hover {
}
#footer .nav {
}
#footer .nav li {
}
.copy {
}